{% extends 'base.html.twig' %}

{% block title %}Éditer mes informations{% endblock %}

{% block body %}
<div class="text-white col-6 mx-auto p-2">
    {{ include('patient/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
