$primary-color : #507ded; // Primary color
$secondary-color : #86888a; // Secondary color
$dark-color: #343739; // Dark color
$darker-color: #2f3234; // Darker color
$grey-color: rgba(255, 255, 255, 0.1); // Grey color
