@import "vars";

/** Importing Bootstrap functions and variables */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
        "primary":    $primary-color,
        "secondary":  $secondary-color,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
); // Array of Bootstrap colors
#main{
  min-height: 84vh;
}
body{
  background: radial-gradient(circle at 99% 0%, rgba(235, 235, 235,0.03) 0%, rgba(235, 235, 235,0.03) 50%,rgba(142, 142, 142,0.03) 50%, rgba(142, 142, 142,0.03) 100%),radial-gradient(circle at 84% 89%, rgba(229, 229, 229,0.03) 0%, rgba(229, 229, 229,0.03) 50%,rgba(1, 1, 1,0.03) 50%, rgba(1, 1, 1,0.03) 100%),radial-gradient(circle at 89% 20%, rgba(219, 219, 219,0.03) 0%, rgba(219, 219, 219,0.03) 50%,rgba(38, 38, 38,0.03) 50%, rgba(38, 38, 38,0.03) 100%),radial-gradient(circle at 90% 0%, rgba(48, 48, 48,0.03) 0%, rgba(48, 48, 48,0.03) 50%,rgba(109, 109, 109,0.03) 50%, rgba(109, 109, 109,0.03) 100%),linear-gradient(170deg, rgb(0,96,255),rgb(0,0,0));}
nav{
  background-color: rgba(255, 255, 255, 0.1);
}
footer{
  background-color: rgba(255, 255, 255, 0.1);
}
@import "~bootstrap/scss/bootstrap";
