<footer class="page-footer position-absolute w-100">

    <div class="footer-copyright text-center py-3 text-white">Copyright © 2020 EirAdvices
        <a class="ml-5 mr-5 text-decoration-none text-white" href="#">Contact</a>
        <a class="ml-5 mr-5 text-decoration-none text-white" href="#">Mentions légales</a>
    </div>

</footer>