<footer class="container-fluid page-footer position-absolute w-100 bg-primary py-3">
    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-lg-6 text-center">
            <a class="text-decoration-none text-black-50" href="#">Contact</a>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <a class="text-decoration-none text-black-50" href="#">Mentions légales</a>
        </div>
        <div class="col-12 col-lg-6 footer-copyright text-center pt-3">
            Copyright © 2020 EirAdvices
        </div>
    </div>
</footer>