<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/285adceaff.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- Navbar -->
{% include '_navbar.html.twig' %}
<!-- Navbar -->

{% for message in app.flashes('succes') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


<div class="container-fluid px-2 py-5 p-lg-5 my-5" id="main">

{% block body %}{% endblock %}
</div>
<!-- Footer -->
{% include '_footer.html.twig' %}
<!-- Footer -->

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
