<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<!-- Navbar -->
{% include 'navbar.html.twig' %}
<!-- Navbar -->
{% block body %}{% endblock %}
<!-- Footer -->
<footer class="page-footer position-absolute w-100 bg-primary">

    <div class="footer-copyright text-center py-3">Copyright © 2020 EirAdvices
        <a class="ml-5 mr-5" href="#">Contact</a>
        <a class="ml-5 mr-5" href="#">Mentions légales</a>
    </div>

</footer>
<!-- Footer -->

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
