{% extends 'base.html.twig' %}

{% block title %}Créer une demande{% endblock %}

{% block body %}
    <h3 class="ml-5 text-white d-flex justify-content-center"><strong>Il ne vous reste plus qu'à renseigner quelques informations</strong></h3>
    <h3 class="ml-5 text-white d-flex justify-content-center"><strong>et nous pourrons envoyer votre demande</strong></h3>

    <div class="text-white col-6 mx-auto p-2">
        {{ include('advice_request/_form.html.twig') }}
    </div>
{% endblock %}
