{% extends 'base.html.twig' %}

{% block title %}Créer une demande{% endblock %}

{% block body %}
    <div class="text-white col-6 mx-auto p-2">
        {{ include('advice_request/_form.html.twig') }}
    </div>
{% endblock %}
