{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block body %}

        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Plus aucune requette, revenez plus tard.</h5>
                <p class="card-text">Vous avez blacklisté toutes les demandes actuelles.</p>
            </div>
        </div>

{% endblock %}
